@import "tailwindcss";

:root {
  --bg-dark: #060B16;
  --bg-panel: #0E121F;
  --text-primary: #1A8AFF;
  --text-glow: #00D4FF;
  --text-metallic: #D7DEE8;
  --text-body: #B0B7C3;

  --border-neon: rgba(24, 138, 255, 0.3);
  --border-glass: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--bg-dark);
  color: var(--text-metallic);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
  color: #ffffff;
}